@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    background-color: #232946;
    color: #fffffe;

}


.portfolio {
    margin-top: 1rem;
    padding: 1rem 8rem;
    /* background-color: #fffffe; */
    height: 100vh;


    .portfolio-wrap {
        .portfolio-item {
            width: 60vw;
            height: 230px;
            display: flex;
            /* flex-grow: 1; */
            background-color: #f2f4f6;
            margin: 1em auto;
            /* padding-left: 1em; */

            .portfolio-item-tech-stack i {
                font-size: 18px;
                color: #f2f4f6;
            }

            .portfolio-item-tech-stack ul {
                list-style: none;
                padding: .5em 1em;
                margin: auto;
                height: 100%;
                background-color: #1b2d45;

            }

            .portfolio-item-tech-stack ul li {
                /* display: inline; */
                color: #00ebc7;
                margin: .5em 0;
            }

            .portfolio-section-1 {
                display: flex;
                flex-direction: column;
                justify-content: start;
                margin: 0 1.5em;
                max-width: 60%;

                .project-info {
                    .project-name {
                        margin-top: 1em;
                        font-size: 20px;
                    }

                    .project-name a {
                        text-decoration: none;
                        color: #1b2d45;
                    }

                    .project-name a:hover {
                        color: #ff5470;
                    }

                    .project-name a :visited {
                        color: #00ebc7;
                    }

                    .project-description {
                        font-size: 14px;
                        opacity: 80%;
                    }
                }

                .portfolio-item-tech-used {
                    display: flex;
                    margin-top: 10px;

                    .item-tech-used {
                        background-color: #1b2d45;
                        margin: 0;
                        padding: 4px 6px;
                        border-radius: 7px;
                        font-size: 13px;
                        color: #f2f4f6;
                        margin-right: 5px;
                    }

                }
            }

            .foto-portfolio {
                flex: 1;
                width: 200px;
                height: 100%;
                background-color: #00214d;
                margin-left: 1em;
                overflow: hidden;

            }

            .foto-portfolio img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: transform 0.3s ease-in-out;
            }

            .foto-portfolio:hover img {
                transform: scale(1.1);
            }
        }
    }


    .design {

        .design-layout {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            .grid-item {
                border: 1px solid #ddd;
                padding: 20px;
                text-align: center;
              }

              .grid-item:nth-child(even){
                margin-top: 1rem;
              }
        }
    }
}