@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* header */
.logo{
    color: #1b2d45;
}
.navbar-container {
    margin-top: 1em;
    max-width: 90vw;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: .5rem;
    z-index: 999;
    border-radius: 30px;
    background-color: #ffffff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 

    .nav-list ul {
        padding-left: 0;
        display: flex;
        justify-content: center;
        gap: 2rem 1rem;
        list-style-type: none;

    }


}


.navbar-container .nav-list li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #2d2e32; /* Gunakan warna yang lebih lembut */
    padding: 0.4rem 1.2rem;
    border-radius: 8px; /* Tambahkan sudut yang membulat agar terlihat lebih halus */
    transition: all 0.3s ease-in-out;
}

.navbar-container .nav-list li:hover a {
    text-decoration: underline;
    /* text-decoration-color: #ff6b6b; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk sedikit efek kedalaman */
}



body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    /* background-color: #232946; */
    color: #232946;
}



.portfolio {
    margin-top: 1rem;
    padding: 1rem 8rem;
    /* background-color: #fffffe; */
    height: 100vh;

    .portfolio-wrap {
        .portfolio-item {
            width: 60vw;
            height: 230px;
            display: flex;
            background-color: #f2f4f6;
            margin: 1em auto;

            .portfolio-item-tech-stack i {
                font-size: 18px;
                color: #f2f4f6;
            }

            .portfolio-item-tech-stack ul {
                list-style: none;
                padding: .5em 1em;
                margin: auto;
                height: 100%;
                background-color: #1b2d45;

            }

            .portfolio-item-tech-stack ul li {
                /* display: inline; */
                color: #00ebc7;
                margin: .5em 0;
            }

            .foto-portfolio {
                flex: 1;
                width: 100%;
                height: 100%;
                background-color: #00214d;
                margin-left: 1em;
                overflow: hidden;

            }

            .foto-portfolio img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: transform 0.3s ease-in-out;
            }

            .foto-portfolio:hover img {
                transform: scale(1.1);
            }
        }
    }


    .design {
        .android-layout {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            
            .portfolio-section-1 {
                display: flex;
                flex-direction: column;
                justify-content: start;

                .tech-used{
                    font-size: 14px;
                    color: #ff5470;
                    text-align: left;
                }

                .foto-portfolio img {
                    width: 100%;
                    object-fit: cover;
                    transition: transform 0.3s ease-in-out;
                }
    
                .foto-portfolio:hover img {
                    transform: scale(1.1);
                }
                .project-info {
                    .project-name {
                        margin-top: 1em;
                        font-size: 20px;
                    }

                    .project-name a {
                        text-decoration: none;
                        color: #FFEB55;
                    }

                    .project-name a:hover {
                        color: #b9a71b;
                    }

                    .project-name a :visited {
                        color: #00ebc7;
                    }

                    .project-description {
                        font-size: 14px;
                        opacity: 80%;
                        text-align: justify;
                    }
                }

            }
            .grid-item {
                border: 1px solid #ddd;
                padding: 20px;
                text-align: center;
                height: max-content;
                img{
                    width: 100%;
                }
              }

              .grid-item:nth-child(even){
                margin-top: 2rem;
              }
        }

        

        .design-layout {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            .grid-item {
                border: 1px solid #ddd;
                padding: 20px;
                text-align: center;
                height: max-content;
                img{
                    width: 100%;
                }
                
              }

              .grid-item:nth-child(even){
                margin-top: 2rem;
              }
        }

        .video-layout{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            /* boiler plate */
            .grid-item {
                border: 1px solid #ddd;
                padding: 20px;
                text-align: center;
                height: max-content;
                img{
                    width: 100%;
                }
              }
        }
    }
}


@media screen and (max-width: 768px) {
    .portfolio{
        padding: 1em;
    }
    .portfolio .design {
        .android-layout, .design-layout {
            grid-template-columns: repeat(2, 1fr); 
            gap: 1rem;
          }

          
          .video-layout{
            grid-template-columns: repeat(1, 1fr);
        }

        
    }
  }

