@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    /* mix-blend-mode: difference; */
    z-index: 9999;
}

.circle {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    /* background: #ffe6e6; */
}

.circle-1 {
    width: 30px;
    height: 30px;
    /* opacity: 0.2; */
    border: 2px solid #00e5ff;
}


.circle-2 {
    width: 15px;
    height: 15px;
    opacity: 0.5;
    background: #00e5ff;
}


.circle-3 {
    width: 5px;
    height: 5px;
    /* opacity: 1; */
    background: #00e5ff;
}

/* Lingkaran border kecil */
.circle-border {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #00e5ff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease;
}

/* Saat hover, hanya lingkaran besar + border kecil yang tampil */
.cursor.hover .circle-1 {
    width: 60px;
    height: 60px;
    opacity: 0.3;
    background: #00e5ff;
    border: none;
}

.cursor.hover .circle-border {
    /* width: 60px;
  height: 60px;
  opacity: 0.3;
  background: #00e5ff; */
    border: none;
}

.cursor.hover .circle-2,
.cursor.hover .circle-3 {
    opacity: 0;
}

.cursor.hover .circle-border {
    opacity: 1;
}




.navbar-container {
    margin-top: 1em;
    max-width: 90vw;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: .5rem;
    z-index: 999;
    border-radius: 30px;
    background-color: #ffffff;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
}


.navbar-container .logo {
    color: #333;

    h4 {
        margin: 0px;
    }
}



.title {
    margin: 1em 0px;
}

/* main {
    display: flex;
    flex-direction: column;
    height: 100vh;
} */

/* my-skill */
.my-skill {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .my-skill_body {
        width: 50%;
        text-align: center;

        .my-skill_tittle {
            font-size: 48px;
        }

        .my-skill_subtitle {
            margin: 1em 0;
        }
    }
}


.title-wrap {
    width: max-content;
    padding: 0px 5px;
    background-color: #00214d;
    color: white;
    border-radius: 10px;
    /* border: 5px rgba(153, 204, 255, .5) solid; */
    outline: 5px solid rgba(153, 204, 255, 0.4);
    margin-bottom: 1em;
    rotate: -3deg;
}

.title-wrap:hover {
    rotate: 0deg;
}

.title-wrap h1 {
    padding: .2em .3em;
    margin: 0 !important;
    line-height: 1;
}

/* khusus utk working on */
.title-wrap:nth-child(2) {
    background-color: transparent;
    color: #00214d;
    outline: 5px solid rgba(183, 255, 209, 1);
}

/* overview */

.text-bold {
    font-weight: 600;
}

.overview-wrap {
    /* flex: 1; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: stretch;
}

.overview {
    /* height: 100%; */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 3rem; */
    color: #00214d;

    .penjelasan-overview {
        width: 50dvw;
        color: #1b2d45;
        text-align: justify;
        animation: fadeInAndSlide 1s ease-in forwards;
        animation-delay: 0.5s;
        opacity: 0;
        transform: translateX(-20px);


        /* .skills-overview ul {
            display: flex;
            list-style: none;
            justify-content: space-around;
        } */



        .education-overview {
            margin: 1em 0;

            ul {
                margin: 0.5em;
            }
        }

        .skills-overview ul {
            margin: 0.5em;

            li img {
                width: 28px;
            }
        }
    }

    .foto-overview img {
        width: 300px;
        border-radius: 30px;
        opacity: 0;

        /* background-color: #00ebc7; */
        animation: fadeInAndSlide 1s ease-in forwards;
        animation-delay: 0.5s;
        transform: translateX(20px);
    }
}

.square-dec {
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* right: auto; */
    /* top: 1em; */
    /* background-color: #00ebc7; */
    /* border: 2px solid black; */
    animation: rotateInfinite 2s linear infinite;
    font-size: 24px;

}

.skills-overview {
    overflow: hidden;
    width: 100%;
    rotate: 2deg;
}

.softskill-wrapper {
    display: flex;
    white-space: nowrap;
    background-color: rgba(153, 204, 255, 0.2);

}

.softskill-list {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 1em;
    margin: 0;
    font-weight: 600;
    color: #00214d;
    animation: scroll-left 15s linear infinite;
}

.softskill-list li {
    font-size: 1.1rem;
}

.softskill-list_first::before {
    content: " ✨ ";
    margin: 0px 0.8rem;
}

.softskill-list li:not(:last-child)::after {
    content: " ✨ ";
    margin-left: 0.8rem;
}


.specialities-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 3em;
    text-align: center;
    margin: auto;
    margin: 0px 2em;
    border-radius: 20px;
    /* background: rgb(198,156,252); */
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    animation: gradientAnimation 8s ease infinite;
    background-size: 300% 300%;

}

.working-on {
    margin-top: 2em;
    padding: 4rem 1rem;
    background: #f9f9f9;
}


.working-on-wrap {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.glass-circle {
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.working-on-wrap h1 {
    font-size: 2rem;
    margin: 1rem 0 0.5rem;
}

.working-on-wrap p {
    max-width: 700px;
    margin: 0 auto 2rem;
    color: #555;
}

.working-on-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px #DCDCDC solid;
    padding: 1em;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;

}

.working-on-item:hover {
    transform: scale(1.05);
    border-color: rgba(183, 255, 209, 1);

    .working-on_techstack {
        border-color: rgba(183, 255, 209, 1);
    }

}

.working-on-wrapper {
    flex: 1;
    text-align: left;
}

.working-on-wrapper h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/* .working-on_description{
    border: 1px #DCDCDC solid;
        border-radius: 10px;
    padding: 8px 1em;
    margin-bottom: 1em;
    background-color: white;
} */

.working-on-wrapper p {
    color: #333;
    margin-bottom: 0.5rem;
}

.working-on_techstack {
    border: 1px #DCDCDC solid;
    border-radius: 10px;
    padding: 8px 1em;
    /* background-color: white; */
}

.working-on-image img {
    width: 300px;
    max-width: 100%;
    border-radius: 20px;
    opacity: 0;
    animation: fadeInAndSlide 1s ease-in forwards;
    animation-delay: 0.3s;
    transform: translateX(20px);
}

/* Animation */
@keyframes fadeInAndSlide {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.glass-circle {
    margin-bottom: 1em;
    width: 80px;
    /* Sesuaikan ukuran lingkaran */
    height: 80px;
    border-radius: 50%;
    /* Membuat bentuk lingkaran */
    background: rgba(255, 255, 255, 0.1);
    /* Latar belakang transparan */
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* Border semi-transparan */
    backdrop-filter: blur(10px);
    /* Memberikan efek blur pada elemen di belakang */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Memberikan efek bayangan */
    display: flex;
    justify-content: center;
    /* Menempatkan ikon di tengah secara horizontal */
    align-items: center;
    /* Menempatkan ikon di tengah secara vertikal */
    position: relative;
    overflow: hidden;
    font-size: 24px;
}

.glass-circle::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 60%);
    transform: rotate(45deg);
}

.hardskill-wrapper ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 1em 0px;
    /* padding: 1em; */
    font-weight: 600;
    color: #00214d;
    flex-wrap: wrap;
}

.hardskill-wrapper ul li img {
    width: 50px;
    height: auto;
    display: block;
    margin: 0px 1em;
}

.hardskill-group:hover {
    background: linear-gradient(90deg, rgba(255, 251, 183, 1) 0%, rgba(183, 255, 209, 1) 100%);
    /* opacity: .1; */
    border-radius: 20px;

}

/* .title-wrap:nth-child(2){
    background-color: transparent;
    color: #00214d;
    outline: 5px solid rgba(183, 255, 209, 1);
    } */

/* btn portfolio */
.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    align-items: center;
}

.btn-portfolio {
    background: none;
    /* border: none; */
    padding: 10px 20px;
    font-size: 16px;
    color: #5F5D9C;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    border: none;
    border: 2px #5F5D9C dashed;
    /* aduh wah */
}

.btn-portfolio-second {
    background: none;
    /* border: none; */
    padding: 10px 20px;
    font-size: 16px;
    color: #F8FAE5;
    background-color: #5F5D9C;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    border: none;
}

.btn-portfolio:hover {
    color: #F8FAE5;
    background-color: #5F5D9C;
    border: 2px transparent dashed;
}

/* tes */

.experience-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 3em 1em; */
    padding: 3em 1em;
    flex-wrap: wrap;
    /* background-color: #EEF5FF; */

}

.experience-section h4 {
    color: rgb(96, 153, 218);
}

.experience-section-sub {
    color: #ff5470;
    text-align: center;
    width: 70vw;
}

.experience-info-wrapper {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
}

.experience-item-info {
    margin-left: 1em;
}

.experience-joblist {
    padding: 1em;
    list-style-type: square;
}

.experience-cards {
    display: grid;
    gap: 0px 2em;

    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    /* Memusatkan grid secara horizontal */
    align-items: center;
}

.experience-card {
    min-height: 400px;
    background: rgb(255, 251, 183);
    background: radial-gradient(circle, rgba(255, 251, 183, 1) 0%, rgba(183, 255, 209, 1) 100%);
    animation: gradientAnimation 8s ease infinite;
    background-size: 300% 300%;
    /* background-color: #f2f2f2; */
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

/* .experience-card:nth-child(odd){
    margin-top: 2em;
} */


.experience-org {
    display: grid;
    gap: 0px 2em;

    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

/* Experience */
.experience-item {
    min-height: 420px;
    display: flex;
    align-items: start;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    animation: gradientAnimation 8s ease infinite;
    background-size: 300% 300%;

    border-radius: 10px;
    padding: 1em;
    max-width: 50vw;
    /* width: 350px; */
    /* margin: 1em 0; */

    .info-experience {
        display: flex;
        flex-direction: column;
        color: #00214d;
        padding: none;
        margin: 0 1.5em;

        .nama-organisasi {
            color: black;
            margin-bottom: .5em;
        }

        .penjelasan-organisasi {
            margin: 0;
        }

        .penjelasan-organisasi {
            color: #00214d;
        }

        .jabatan-experience p {
            margin: 0;
        }

        .periode-experience {
            font-size: 14px;
        }

        .responsibility-experience {
            margin: .7em 0 2em;
            color: #00214d;
            opacity: 90%;
        }
    }

    .foto-experience {
        width: 60px;
        height: 60px;
        border-radius: 10px;
    }

    .square-ul {
        list-style-type: square;
    }
}

.recent-project {
    height: 100vh;
    background-color: #5F5D9C;
}

.rocket-running {
    /* z-index: -1; */
    overflow: hidden;
    /* width: 100vw; */
    rotate: -5deg;

    .rocket-running_wrapper {
        display: flex;
        white-space: nowrap;
        background-color: rgba(223, 153, 255, 0.2);

        .rocket-list {
            display: flex;
            gap: 10rem;
            list-style: none;
            /* padding: 1em; */
            margin: 0;
            font-weight: 600;
            color: #00214d;
            animation: scroll-right 15s linear infinite;

            .rocket-list_first{
                margin-left: 10rem;
            }

        }

        .rocket-list img {
            width: 48px;
            height: 48px;
            rotate: 90deg;
        }
    }
}

.quote {
    /* padding: 0px 4em; */
    display: flex;
    /* background-color: #f9f9f9; */

    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* flex-direction: row; */
    /* width: 0vw; */
    height: 50vh;
    margin: 0px 3em;
    border-radius: 20px;

    .quote_rocket-lottie {
        /* scale: 1; */
        aspect-ratio: 1/1;
    }
}



.quote h1 {
    max-width: 50vw;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.reachme {
    margin: 2em 0px;

    /* background-color: #10375C; */
    /* color: white; */
}

.main-reachme {
    padding: 5em;
    margin: 0px 2em;
    border-radius: 20px;
    background-color: #00214d;
    height: 70vh;
    color: white;

    .contact-wrapper {
        /* margin-top: 1em; */
        margin: 1em auto;
        display: flex;
        flex-wrap: wrap;
        /* biar bisa turun ke bawah */
        gap: 1em;
        /* jarak antar item */
        justify-content: center;
        /* biar rata kiri */
    }

    .contact-item {
        flex: 1 1 calc(50% - 1em);
        /* artinya: 
     - grow = 1 (bisa melar) 
     - shrink = 1 (bisa mengecil) 
     - basis = 50% - 1em (dua item per baris, sisanya wrap) */
        padding: 1em;
        background-color: rgb(46, 51, 97);
        border-radius: 20px;
        display: flex;
        /* justify-content: sa; */
        align-items: center;
        gap: 1em;
        min-width: 250px;

        .contact-item_content {
            font-size: 24px;
            color: white;
            /* overflow: hidden; */
            /* white-space: normal; izinkan teks pindah baris */
            /* word-wrap: break-word; kalau kata panjang, boleh dipotong */
            overflow-wrap: anywhere;
            /*modern replacement */
        }
    }

    /* .contact-item_content{
        max-lines: 4;
        overflow: hidden;
    } */

    .contact-item-first {
        max-width: max-content;
        rotate: -5deg;
        /* max-lines: 1; */
    }

    .contact-item-second {
        max-width: max-content;
        rotate: 10deg;
        background-color: rgba(211, 218, 217, .3);
    }

    .contact-item-linkedin {
        /* margin: 1em auto; */
        max-width: max-content;
        background-color: rgba(0, 119, 181, .5);
        rotate: 3deg;
        max-lines: 1;
    }

    .contact-item-works {
        background-color: rgba(250, 165, 51, .4);
        rotate: 5deg;
    }

    .contact-item_linkedin {
        margin: 0 auto;
    }

    .contact-item-first:hover,
    .contact-item-second:hover,
    .contact-item-linkedin:hover,
    .contact-item-works:hover {
        rotate: 0deg;
        cursor: pointer;
    }

    .contact-item_img {
        width: 100px;
        height: 100px;
        margin-right: 1em;
    }

}

.main-reachme h1 {
    font-size: 48px;
}

.main-reachme a {
    text-decoration: none;
}

.main-reachme p {
    color: #a8a7a7;
    /* font-size: 48px; */
}


/* Animation */

@keyframes fadeInAndSlide {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rotateInfinite {
    to {
        opacity: 1;
    }

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Responsive */

/* CSS Utama */

/* hp layar kecil kek iphone */
@media (max-width:575.98px) {
    .circle {
        position: absolute;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        /* background: #ffe6e6; */
    }

    .circle-1,
    .circle-2,
    .circle-3,
    .circle-border {
        display: none;
    }

    .quote {
        height: 100%;
        text-align: right;
        font-size: 12px;
        color: #00214d;
    }

    /* .contact-wrapper{
        width: 500px;
        justify-items: start;
    } */

    /* .contact-item_content{
        font-size: 12px;
    } */
    .main-reachme {
        padding: 1em;

        .contact-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            justify-content: center;
        }

    }

    .main-reachme h1 {
        font-size: 28px;
    }

    .contact-item {
        flex-direction: column;

        .contact-item_content {
            font-size: 16px !important;
            text-align: center;
        }

    }

    .contact-item-first {
        width: 100px;
        rotate: -5deg;
    }

    .contact-item-second {
        max-width: max-content;
        rotate: 10deg;
        background-color: rgba(211, 218, 217, .3);
    }

    .contact-item-linkedin {
        max-width: max-content;
        background-color: rgba(0, 119, 181, .5);
        rotate: 3deg;
        max-lines: 1;
    }


}

@media screen and (max-width: 768px) {
    .my-skill {
        height: 100%;

        .my-skill_body {
            text-align: center;

            .my-skill_tittle {
                font-size: 24px;
            }
        }
    }

    .main-reachme {
        height: 100%;

        .contact-item-works {
            rotate: -10deg;
        }
    }

    .working-on-item,
    .working-on-item.reverse {
        flex-direction: column;
        text-align: center;
    }

    .working-on-wrapper {
        text-align: center;
    }


    .experience-item {
        max-width: 100vw;

    }

    .navbar-container {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .nav-list ul {
            margin-top: 1em;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1em;
        }

        .navbar-container .nav-list li a {
            /* padding: .5rem 0; */
            width: 100%;
            text-align: center;
        }
    }


    .experience-cards,
    .experience-org {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        /* Memusatkan grid secara horizontal */
        align-items: center;
    }

    .experience-card:nth-child(odd) {
        margin-top: 0px;
    }

    .overview-wrap {
        /* flex: 1; */
        /* height: 100%; */
        height: 100%;
    }



    .overview {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 1.5em;

        .penjelasan-overview {
            width: 100%;
        }

        .foto-overview {
            margin-bottom: 1em;

            .foto-aing {
                margin: 0 auto;
            }
        }
    }

    .experience {
        padding: 1rem;

        .isi-experience {
            padding: 0;
        }

        .foto-experience {
            margin: auto;
        }

        .experience-item {
            flex-direction: column;
            text-align: center;

            .foto-experience {
                margin-top: 1rem;
            }

            .info-experience {
                margin: 1em 0;

                .responsibility-experience {
                    margin-bottom: 1em;

                    ul li {
                        text-align: left;
                    }
                }
            }
        }
    }


}

@media (min-width: 769px) and (max-width: 1024px) {
    .my-skill {
        height: 70vh;

        .my-skill_body {
            text-align: center;

            .my-skill_tittle {
                font-size: 24px;
            }
        }
    }

    .overview-wrap {
        margin-top: 3em;
        height: 100%;
    }

    .experience-cards,
    .experience-org {
        /* display: grid;
    gap: 0px 2em; */
        /* min-height: 200px; */
        grid-template-columns: repeat(1, 1fr);
        gap: 1em;
        /* justify-content: center; */
        /* Memusatkan grid secara horizontal */
        /* align-items: center; */
    }


    .experience-card {
        min-height: 100%;
        /* padding: 1em auto;  */
    }

    .experience-item {
        max-width: 100%;
        min-height: 100%;
    }

    .main-reachme {
        height: 100%;

        .contact-item-works {
            rotate: -10deg;
        }
    }


}

/* 
/* Laptop dan Small Desktop */
/* @media (min-width: 1025px) and (max-width: 1280px) {
    .portfolio-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Large Desktop */
/* @media (min-width: 1281px) {
    .portfolio-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}   */